.movieTitle{
    color: red;
    background-color: lightgray;
    width: 80%;
    margin: auto;
}

.movieItem {
    display: inline-block;
    border: 1px solid black;
    width: 380px;
    height: 200px;
    margin-right: 5px;
    padding: 10px;
}


.moviePoster {
    height: 100px;
}

.modal {
    display: flex; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }

.modalContent {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }